<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li><%= restaurant.name %></li>
  <%= link_to "Show", restaurant_path(restaurant) %>
  <%= link_to "Edit", edit_restaurant_path(restaurant) %>
  <%= link_to "Delete", restaurant_path(restaurant), method: :delete %>
</ul>
<% end %>

<%= link_to "Add new Restaurant", new_restaurant_path %>
